.Navbar2{
    height: 70px;
flex-shrink: 0;

margin: 10px 80px;
display: flex;
justify-content: space-between;

}

.username{
    width: 138px;
height: 36px;
flex-shrink: 0;
border-radius: 8px;
background: #D81F84;
color: #FFF;
font-family: 'Roboto';
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
align-items: center;
justify-content: center;
display: flex;
}

.profile{
   background-color:#E8E8E8;
   
   height: 50px;
   width: 50px;
   border-radius: 100%;
   position: relative;
   right: 13px;
   bottom: 7px;

}