.page-navigation{
    display: flex;
    margin-top: 40px;
}

.circle{
    width: 44px;
height: 44px;
flex-shrink: 0;
margin: 0px 5px;
border-radius: 100%;
border: 0.366px solid #E6E6E6;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}

.circle.active {
    background-color: #D81F84;
    color: #fff;
  }

  .next.disabled {
    pointer-events: none;
    background-color: #ccc;
    color: #999;
  }
.next{
    border-radius: 50px;
border: 1px solid #E6E6E6;
width: 67px;
height: 44px;
flex-shrink: 0;
margin: 0px 10px;
cursor: pointer;
}

