.successStories{
    margin: 50px 120px;
    max-width: 1500px;
   
    align-items: center;
    justify-content: center;
}
.story-box{

    width: 619px;
}

.story-details{
    display: flex;
    margin: 50px 0px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.story-image{
    border-radius: 16.874px 16.874px 0px 0px;
background: #D81F84;
height: 255.939px;
flex-shrink: 0;
}

.story-description{
    border-radius: 0px 0px 16.874px 16.874px;
border-right: 1px solid #DEDEDE;
border-bottom: 1px solid #DEDEDE;
border-left: 1px solid #DEDEDE;
background: #F1F1F1;

height: 285.927px;
flex-shrink: 0;
color: #000;
font-family: 'Roboto';
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.88px;
display: flex;
    justify-content: center;
    
}

.story-heading{
    color: #000;
text-align: right;
font-family: Roboto;
font-size: 34px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.36px;
}

.more-stories{
    padding-left: 50px;
}

.story-image-2{
    width: 448px;
height: 446.887px;
flex-shrink: 0;
}

@media (max-width:500px) {
    .story-box{
        margin: 0px 0px;
        width: 200px;
    }
    .story-details{
        width: 300px;
        justify-content: center;
        align-items: center;
    }
    .story-image-2{
        width: 200px;
        height: 200px;
    }
    .successStories{
        margin: 0px 10px;
        
        
    }
    .more-stories{
        padding: 0px 0px;
    }
    
}