.req-status{
    
height: 51.27px;

border-radius: 14.649px;
background: #F8F8F8;
padding: 0px 20px;
justify-content: space-between;

}

.pending,.inreview,.resolved{
    
height: 35px;
flex-shrink: 0;
border-radius: 11.719px;
margin:7px ;
color: #000;
font-family: 'Inter';
font-size: 16.114px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
}
.pending:hover,.inreview:hover,.resolved:hover,.status{
    border: 0.366px solid #DFDFDF;
    background: #FFF;
    padding: 10px;
    cursor: pointer;

}

@media (max-width:1000px) {
    .admin_section{
        margin: 20px 10px;
    }
}