.location_input{
    width: 50% !important;
    margin: 5px 5px;
    border-radius: 9.886px;
    border: 1.648px solid #C8C8C8;
    background: rgba(255, 255, 255, 0.00);
    width: 401.204px;
    height: 60.963px;
    flex-shrink: 0;
    color: #B8B8B8;
font-family: 'Roboto';
font-size: 14.829px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.222px;
padding: 20px 20px;

}
.nolocation{
    margin-top: 20px;
    position: absolute;
}

.requests{
    margin:60px 0px
}
 
@media (max-width:600px) {
    .location_input{
        height: 40px;
        width: 200px !important;
    }
}
