form{
    display: block;
    margin: 20px 20px;
    
}
#email,#password{
    width: 100% !important;
    margin: 5px 5px;
    border-radius: 9.886px;
    border: 1.648px solid #C8C8C8;
    background: rgba(255, 255, 255, 0.00);
    width: 401.204px;
    height: 60.963px;
    flex-shrink: 0;
    color: #B8B8B8;
font-family: 'Roboto';
font-size: 14.829px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.222px;
padding: 20px 20px;
}

.form-heading{
    text-align: center;
    padding: 25px 10px;
    color: #35363A;
font-family: 'Roboto';
font-size: 34.601px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
label{
    margin: 0px 20px;
    background-color: white;
    position: relative;
    top: 15px;
    
}
.forgotPass{
    text-align: right;
    color: #037DE2;
font-family: 'Roboto';
font-size: 13.181px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.264px;
margin: 20px 0px;
}

.login-button{
    margin: 40px 140px;
    border-radius: 6.591px;

}
.new-account,.create-acc{
    text-align: center;
    margin: 0px 0px;
}


@media (max-width: 690px) {
    .form-heading{
        font-size: 20px;
        padding: 10px 0px;
    }
    #email,#password{
        height: 30px;
        margin: 3px 3px;
    }
    .login-button{
        padding: 5px 5px;
        font-size: 15px;
        margin: 5px 50px ;
        height: 30px;
    }
    .new-account,.forgotPass{
        font-size: 11px;
    }
    .forgotPass{
        margin: 5px 0px;
        margin-bottom: 40px;
        font-size: 8px;
    }
  }
